.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

.section {
  min-height: 80vh;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.body {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-image: linear-gradient(180deg, #fff, #fff), linear-gradient(150deg, #33a1fd 15%, #07f 56%, #75abbc), url('../images/Background-pattern.png');
  background-position: 0px 0px, 0px 0px, 0px 0px;
  background-size: auto, auto, 541px;
  font-family: Muli;
  color: #040d14;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  margin-bottom: 0px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(150deg, #2ec0f9 21%, #07f 49%, #d84797 92%);
  -webkit-transform: skew(0deg, -12deg);
  -ms-transform: skew(0deg, -12deg);
  transform: skew(0deg, -12deg);
  color: #fff;
}

.grid {
  margin-top: 102px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-transform: skew(0deg, 12deg);
  -ms-transform: skew(0deg, 12deg);
  transform: skew(0deg, 12deg);
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.store-button {
  margin-top: 0px;
  margin-right: 12px;
  margin-bottom: 0px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 35px;
  border-radius: 5px;
  background-color: #080808;
  background-image: url('../images/Apple-logo.svg');
  background-position: 7px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.store-button.google {
  margin-right: 0px;
  padding-right: 15px;
  padding-left: 39px;
  background-image: url('../images/Google-play-store-logo.svg');
  background-position: 10px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  min-height: 20vh;
  background-color: transparent;
  color: #fff;
}

.nav-link {
  color: #fff;
}

.nav-link-2 {
  color: #fff;
}

.nav-link-3 {
  color: #fff;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
}

.heading-2 {
  font-family: Muli;
  color: #f7f7ff;
  font-size: 52px;
  font-weight: 300;
}

.heading-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-left: 35px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.grid-2 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.submit-button {
  text-align: center;
}

.form-block {
  display: block;
  margin-top: 0px;
  padding-top: 43px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.field-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #131313;
  font-size: 30px;
  font-weight: 400;
}

.form {
  margin-top: 28px;
}

.text-field {
  margin-top: 24px;
  padding-top: 0px;
}

.section-3 {
  min-height: 100px;
}

.section-3.body {
  -webkit-transform: skew(0deg, 0deg);
  -ms-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 40vh;
  min-height: 40vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, .82)), to(rgba(26, 26, 26, .82)));
  background-image: linear-gradient(180deg, rgba(26, 26, 26, .82), rgba(26, 26, 26, .82));
  direction: ltr;
  color: #fff;
  font-size: 15px;
  line-height: 40vh;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 30vh;
  max-width: 40vh;
  min-width: 40vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 30vh;
  max-width: 40vh;
  min-width: 40vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-3 {
  display: inline-block;
  max-height: 30vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button-2 {
  display: inline-block;
  margin-top: 25px;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #000;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.text-block-4 {
  position: static;
  display: inline-block;
  overflow: visible;
  max-height: 40vh;
  text-align: center;
}

.div-block-4 {
  max-width: 40vh;
}

.div-block-5 {
  min-height: 40vh;
  -webkit-transform: skew(0deg, 12deg);
  -ms-transform: skew(0deg, 12deg);
  transform: skew(0deg, 12deg);
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: skew(0deg, -12deg);
  -ms-transform: skew(0deg, -12deg);
  transform: skew(0deg, -12deg);
}

.paragraph-2 {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.paragraph-2.grow-effect {
  padding-top: 13px;
  text-align: center;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: skew(0deg, -12deg);
  -ms-transform: skew(0deg, -12deg);
  transform: skew(0deg, -12deg);
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #1ba3fb;
  background-image: linear-gradient(160deg, #d84797 6%, #0476fd 50%, #2ec0f9 90%);
}

.paragraph-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.paragraph-3.grow-effect {
  padding-top: 12px;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: skew(0deg, -12deg);
  -ms-transform: skew(0deg, -12deg);
  transform: skew(0deg, -12deg);
}

.paragraph-4 {
  padding-top: 17px;
}

.heading-4 {
  margin-top: -33px;
  margin-left: 0px;
  padding: 47px 7px 18px 61px;
  color: #000;
  font-weight: 400;
}

.image {
  padding-top: 0px;
}

.heading-5 {
  margin-top: 12px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 3px;
  color: #000;
  font-weight: 300;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #000;
}

.image-2 {
  padding-top: 8px;
}

.nav-link-4 {
  padding-top: 27px;
  color: #000;
}

.nav-link-5 {
  padding-top: 26px;
  color: #000;
}

.nav-link-6 {
  padding-top: 28px;
  color: #000;
}

.nav-menu {
  left: 0px;
  top: 0px;
  padding-left: 6px;
  color: #000;
}

.navbar-2 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  min-height: 5vh;
  background-color: hsla(0, 0%, 100%, 0);
  color: #000;
}

.image-3 {
  padding-top: 4px;
  -webkit-transform: skew(0deg, 12deg);
  -ms-transform: skew(0deg, 12deg);
  transform: skew(0deg, 12deg);
}

.div-block-6 {
  background-color: #fff;
}

.section-4 {
  min-height: 100vh;
}

.div-block-7 {
  min-height: 25vh;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.navbar-3 {
  margin-bottom: 4px;
  background-color: hsla(0, 0%, 100%, 0);
}

.nav-menu-2 {
  position: relative;
  left: -482px;
  top: 0px;
  bottom: 0px;
  margin-right: -101px;
  margin-bottom: 1px;
  margin-left: 0px;
  padding-top: 12px;
  padding-right: 0px;
  padding-left: 0px;
}

.heading-6 {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-weight: 300;
}

.image-4 {
  margin-top: -22px;
}

.dashboard {
  min-height: 40vh;
  margin-top: -6px;
}

.image-5 {
  margin-top: 37px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  border-radius: 150px;
}

.image-6 {
  margin-top: 34px;
  padding-bottom: 0px;
  border-radius: 150px;
}

.grid-3 {
  min-height: 50vh;
  grid-template-areas: ". . . ." ". . . .";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1f1f1f), to(#1f1f1f));
  background-image: linear-gradient(180deg, #1f1f1f, #1f1f1f);
}

.text-block-5 {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.text-block-6 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.div-block-8 {
  min-height: 35vh;
  line-height: 40vh;
}

.image-7 {
  margin-bottom: 6px;
  margin-left: 449px;
  padding-left: 0px;
  -webkit-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(12deg);
}

.image-8 {
  margin-top: 99px;
  margin-bottom: 0px;
  margin-left: 177px;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.image-9 {
  margin-top: -140px;
  margin-bottom: 0px;
  margin-left: -172px;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.heading-learn {
  margin-top: -36px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-right: 0px;
  font-size: 26px;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
}

.paragraph-5 {
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.image-10 {
  margin-top: -199px;
  margin-bottom: 0px;
  margin-left: 461px;
  padding-bottom: 65px;
  -webkit-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(12deg);
}

.heading-7 {
  margin-left: -36px;
  padding-right: 588px;
  font-size: 26px;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
}

.paragraph-6 {
  margin-left: -121px;
  padding-right: 469px;
  font-size: 18px;
  text-align: center;
}

.div-block-9 {
  min-height: 35vh;
  -webkit-transform: skew(0deg, -8deg);
  -ms-transform: skew(0deg, -8deg);
  transform: skew(0deg, -8deg);
  line-height: 35vh;
}

.columns-2 {
  margin-bottom: 63px;
}

#w-node-9066fa9a205e-0931d2be {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-8b361c95f2a4-0931d2be {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-f927b05e83c0-0931d2be {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-72743b3b9b64-0931d2be {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-38f6c0edd268-0931d2be {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ad56035e491f-0931d2be {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-7b9addedd571-0931d2be {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
  justify-self: center;
}

